<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Lending <small>Equipment</small>
            </h1>
            <ol class="breadcrumb">
                <center><li class="active">
                    <i class="glyphicon glyphicon-refresh fa-5x"></i><h2> Bievenidos</h2>
                </li></center>
            </ol>
        </div>
    </div>

    <div class="row">
            <%= render  @tipo_elementos %>
    </div>
</div>    