
<div class="panel panel-primary" align="justified">
	<div class="panel-heading"><h1>Nuevo Usuario</h1></div> 
	<div class="panel-body">

		<%= render 'form' %>

	</div>
</div>

<%= link_to 'Atras', :back, :class => 'btn btn-default'  %>
