<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/"><i class="fa fa-fw fa-dashboard"></i> Home</a>
        </li>
       
        <li>
            <a href="/reservas."><i class="fa fa-fw fa-table"></i> Reservas</a>
        </li>
        <li>
            <a href="/registros"><i class="fa fa-fw fa-edit"></i> Registro</a>
        </li>
        <li>
            <a href="/inventarios"><i class="fa fa-fw fa-desktop"></i> Inventario</a>
        </li>
       <li>
            <a href="/estadisticas"><i class="fa fa-fw fa-bar-chart-o"></i> Estadisticas</a>
        </li>
        <li>
            <a href="CambiarContraseña.html"><i class="glyphicon glyphicon-transfer"></i> Cambiar Contraseña</a>
        </li>
        <li>
            <a href="AyudaSoporte.html"><i class="fa fa-fw fa-wrench"></i> Ayuda y Soporte</a>
        </li>
        <li>
            <a href="/logout"><i class="glyphicon glyphicon-remove"></i> Salir</a>
        </li>   
        
            </ul>
        
        
    
</div>